<mat-sidenav-container autosize>
  <mat-sidenav>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon class="chevron-button">chevron_right</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'profile'">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <span class="menu-item">Profile</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'info'">
        <mat-icon mat-list-icon>message</mat-icon>
        <span class="menu-item">Messages</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'account'">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span class="menu-item">Account</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'settings'">
        <mat-icon mat-list-icon>settings</mat-icon>
        <span class="menu-item">Settings</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
  <mat-sidenav-content>
    <mat-toolbar>
      <h4>Hello everyone</h4>
    </mat-toolbar>
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>
