<div
  class="container-fluid vh-100 d-flex justify-content-center align-items-center background-login"
>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 text-center mb-4 p-0">
      <img
        src="../../../assets/photo/ScoutPlayer-Logo(1).png"
        width="150px"
        alt=""
        class="mb-2"
      />
    </div>
    <div class="col-12 col-sm-10">
      <div class="card shadow border-0">
        <div class="card-body p-0">
          <!-- Login Box-->
          <div class="col-12 px-3 px-sm-5 py-4">
            <h3 class="text-center" style="color: #2bbcaf; font-weight: bold">
              Σύνδεση
            </h3>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="grid">
                <div class="col-12 p-1">
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"
                      ><i class="pi pi-envelope"></i
                    ></span>
                    <input
                      type="email"
                      pInputText
                      placeholder="Email"
                      formControlName="email"
                      class="p-inputtext px-2 py-1"
                    />
                  </div>
                  <p
                    class="text-danger m-0 py-1"
                    *ngIf="email?.errors?.required && email?.touched"
                  >
                    * Το Email είναι υποχρεωτικό
                  </p>
                  <p class="text-danger m-0 py-1" *ngIf="email?.errors?.email">
                    * Παρακαλώ εισάγετε ενα σωστό email
                  </p>
                </div>

                <div class="col-12 p-1">
                  <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"
                      ><i class="pi pi-unlock"></i
                    ></span>
                    <input
                      type="password"
                      pInputText
                      placeholder="Κωδικός"
                      formControlName="password"
                      class="p-inputtext px-2"
                    />
                  </div>
                  <p
                    class="text-danger m-0 py-1"
                    *ngIf="password?.errors?.required && password?.touched"
                  >
                    * Ο Κωδικός είναι υποχρεωτικός
                  </p>
                  <p
                    class="text-danger m-0 py-1"
                    *ngIf="password?.errors?.minlength"
                  >
                    * Ο Κωδικός πρέπει να είναι πάνω από 6 χαρακτήρες
                  </p>
                </div>
              </div>
              <div class="col-12 mt-2 d-flex justify-content-between">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                  />
                  <label
                    class="form-check-label text-dark text-muted"
                    for="rememberMe"
                  >
                    Να με θυμάσαι
                  </label>
                </div>
                <p class="text-end mb-0">
                  <a
                    routerLink="/forgot-password"
                    class="text-decoration-none"
                    style="color: #2bbcaf; font-weight: bold"
                    >Ξεχάσατε τον κωδικό?</a
                  >
                </p>
              </div>
              <div class="col-12 text-center mt-3">
                <button
                  [disabled]="loginForm.invalid"
                  style="background-color: #2bbcaf; color: white"
                  type="submit"
                  class="btn form-control"
                >
                  Σύνδεση
                </button>
              </div>

              <div class="col-12 mt-3">
                <p class="text-center mb-0">
                  Δημιουργήστε έναν λογαριασμό?
                  <a
                    routerLink="/register"
                    class="text-decoration-none"
                    style="color: #2bbcaf; font-weight: bold"
                    >Εγγραφή</a
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
